@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Halvatica Neue";
    src: url("./font/woff/HelveticaNeue-UltraLight.woff") format("woff"),
      url("./font/woff2/HelveticaNeue-UltraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Halvatica Neue";
    src: url("./font/woff/HelveticaNeue-Light.woff") format("woff"),
      url("./font/woff2/HelveticaNeue-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Halvatica Neue";
    src: url("./font/woff/HelveticaNeue.woff") format("woff"),
      url("./font/woff2/HelveticaNeue.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Halvatica Neue";
    src: url("./font/woff/HelveticaNeue-Medium.woff") format("woff"),
      url("./font/woff2/HelveticaNeue-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
		font-family: "Halvatica Neue";
		src: url("./font/woff/HelveticaNeue.woff") format("woff"),
			url("./font/woff2/HelveticaNeue.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	} */
  @font-face {
    font-family: "Halvatica Neue";
    src: url("./font/woff/HelveticaNeue-Bold.woff") format("woff"),
      url("./font/woff2/HelveticaNeue-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply overflow-x-hidden bg-primary-600 text-faded;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  select,
  select[multiple],
  textarea {
    @apply w-full py-3 px-4 min-h-[3.5rem] text-gray-600 bg-white placeholder-transparent
         rounded-lg border border-gray-300 shadow-none
       hover:border-gray-400
         focus:outline-0 focus:border-primary-600 focus:ring-1 focus:ring-primary-600;
  }
  input[type="checkbox"],
  input[type="radio"] {
    @apply w-5 h-5 border border-gray-300 text-primary-500;
  }
  input[type="checkbox"] {
    @apply rounded;
  }
}

/* @layer components {
	
} */

/* Resets */
.swiper {
  @apply m-0 !important;
}
.swiper-pagination {
  @apply -bottom-1 !important;
}
.swiper-pagination-bullet {
  @apply w-4 h-4 !important;
}
.swiper-pagination-bullet-active {
  @apply bg-primary-500 !important;
}
